<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'zh-CN' }}">

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}
    {% include search.html %}

    {{ content }}

    {% include footer.html %}


<!-- Image to hack wechat -->
<img src="/img/icon_wechat.png" width="0" height="0" alt="" aria-hidden="true" loading="lazy" />
<!-- Migrate from head to bottom, no longer block render and still work -->

</body>

</html>
